body{
    margin: 5px;
    
}

/* @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
font-family: "Rancho", cursive; */

/* li a{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#ChatAt_logo img{
    width: 140px;
    height: 40px;

}



/********** nav bar styling ***********/


nav{
    border: 2px solid black;
}

ul{
    
    padding-left: 10px;
}

li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;

    cursor: pointer;
}

#password_change_box{
    display: none;
}

#acc_delete_box{
    display: none;
}

/* *********************************** */