@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    transition: 0.8s ease;   
    position: relative;

}

a{
    text-decoration: none;
}

/* scrollbar setup */

/* body::-webkit-scrollbar{
    width: .22rem;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: white;
} */

/* -------------------- */


.black {
    color: white;
    background: black;
    /* border-color: white; */
}
  
.white {
    color: black;
    background: white;
}

/* ------------------------------------------------------ */

#ChatAt_logo{
    /* border: 2px solid black; */
    margin: 10px;
    text-align:left;
    
}

#ChatAt_logo img{
    width: 140px;
    height: 40px;
}


aside{
    border-right: 2px solid grey;
    height:100vh;
    width: 16rem;  /* 1 rem = is the relative font size of root element */
    position: fixed;
}

main{
    border-left: 1px dashed grey;
    margin-left: 16.5rem;
    padding: 1rem;

    display: flex;
    /* justify-content: baseline; */
    /* align-items: baseline; */
    flex-direction: column;
    gap:5px;

}

/* --------------- :: notify message :: ------------- */

.notifymessage{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    position: fixed;
    top:1.5rem;
    right:0.6rem;

    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 20%;
    border-radius: 20px;
}


.error_msg{

    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    transition:0.5s;
    z-index: 100;

  }

.success_msg{

    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #044303;
    /* color: white;; */
    transition:0.5s;

}

#cross_mark:hover{
    cursor: pointer;
    color: brown;
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}

.fa-check{
    margin-left: 15px;
}


/*---------------------- nav bar styling ----------------------*/

nav{
    /* border: 2px solid pink; */
    height: 100vh;
    /* position: relative; */
}

.nav_list{
    /* border: 2px solid black; */   
    list-style: none;
    padding: 5px;
    margin: 5px;
    height: 100vh;

}


.nav_list a{
    text-decoration: none;
    color:inherit;
    
}

#logout_btn{
    border: 2px solid grey;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    color:inherit;
    position: fixed;
    bottom: 20px;
    left:20px
}

#logout_btn:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.534);
}

#active_status{
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: rgb(140, 241, 25);
}


/*----------- nav list li before and after -------- */



.nav_list li{
    position: relative;
    /* border-top: 1px solid green; */
    font-family: Arial;
    text-transform: uppercase;
    /* font-weight: bold; */
    padding: 10px;
    margin-top: 40px;
    border-radius: 0 15px;
    cursor: pointer;

    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}


.nav_list li::before{
    position: absolute;
    content:'';
    border: 1.5px solid black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    top:-8px;
    left:1px;
    transition: 0.5s ease-in-out;   /* NOTE : give transition to the one who moves or changes */
}

.nav_list li:hover{
    background: linear-gradient(to right,transparent,rgba(193, 96, 242, 0.343));
}


.nav_list li:hover::before{
    left:100%;
    transform: translateX(-50%); /*horizontally center an element within its container */
}

/* ------ active nav list setting ----- */

.active_nav_list{
    background: linear-gradient(to right,transparent,rgba(193, 96, 242, 0.343));
}

.nav_list .active_nav_list::before{
    left:100%;
    transform: translateX(-50%); 
}

/* ---------------------------------- */

/* bottom gradient line */
.nav_list li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #5e42a6, #b74e91)
  }


.nav_list li i{
    margin-right: 8px;
    margin-left: 5px;
}

/* ----------------------------------------------------- */
/* pass cahnge box and delete acc box */

#password_change_box,#acc_delete_box{
    display: none;
}

/**************** Bulb *****************/

#dark_light {
    height: 30px;
    width: 30px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    position: fixed;
    bottom: 15px;
    left: 200px;
    text-align: center;
    

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  
  #dark_light > i {
    font-size: 1.5em;
    color: black;
  }


/* css for Large screens */
@media only screen and (min-width :600px) {

}

/*  ***************************************************************************************** */
/* *************************** RESPONSIVE DESIGN TRY ************************************* */
/*  ***************************************************************************************** */

/* if the width of the screen is less than 1000px and is greater than 600px */
@media only screen and (max-width :1000px) {
    aside{
        border-right: 2px solid grey;
        height:100vh;
        width: 12rem;  /* 1 rem = is the relative font size of root element */
        position: fixed;
    }
    
    main{
        border-left: 1px dashed grey;
        margin-left: 12.5rem;
        padding: 1rem;
    
    }
}

/* if the width of the screen is less 600px */
@media only screen and (max-width :600px) {
    aside{
        height:180px;
        width: 100%;  
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 100;
        border: none;
        border-bottom: 4px double purple;
    }

    main{
        margin: 5px;
        margin-top: 185px;
    }

    /* nav{
        height: fit-content;
    } */

    .nav_list{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        height: 20px;
        padding: 0;
        gap: 5px;
    }

    .nav_list a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav_list li{
        border: none;
        padding: 2px;
        padding-bottom: 10px;
        font-weight: bold;
        margin-top: 25px;
        text-transform:none;
        text-shadow: none;
        font-size: 1.5rem;

    }

    .nav_list li p{
        display: none;

    }

    .nav_list li::after{
        display: none;
    }

    .nav_list li::before{
        display: none;
    }

    .nav_list li i{
        margin-right: 2px;
    }


    #dark_light {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 25px;
        width: 25px;
        
        position: fixed;
        top: 15px;
        right: 400px;
        z-index: 101;
    }


    #logout_btn{
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;

        position: fixed;
        top: 10px;
        left: 500px;
        height: 25px;
        width: 25px;
        z-index: 101;
    }

    
}



/* for less height screen */
@media only screen and (max-height :600px) {
    #light_bulb {
        height: 25px;
        width: 25px;
        
        position: fixed;
        top: 15px;
        right: 10px;
    
      }

      #logout_btn{
        display: none;
    }

}



/* ***************************** Search div *************************************** */

.search-div{
    /* border: 1px solid red; */
    padding-left: 10px;
    margin: 5px;
    margin-top: 30px;
    padding-bottom: 10px;
}


.searchBox{
    margin-top: 10px;
    position: relative;

    transition: ease 1s;
    width: 35px;
    height: 35px;
    /* background: black; */
    background-image: linear-gradient(to right, #5130a5, rgb(143, 17, 97));
    border-radius: 25px;
    padding: 5px;
}

.searchInput{
    position: absolute;
    top: 0.2;
    left: 0;
    height: 35.5px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 30px;
    padding: 0 20px;
}

.fa-search{
    /* box-sizing: border-box; */
    padding: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    cursor: pointer;
    box-shadow: inset 0 0  4px white;
}

.searchBox:hover,
.searchBox:valid{
    width: 220px;
    cursor: pointer;
}

.searchBox:hover .searchInput,
.searchBox:valid .searchInput{
    display: block;
}

.searchBox:hover .fa-search,
.searchBox:valid .fa-search{
    background-image: linear-gradient(to right, #5130a5, rgb(143, 17, 97));
    color: white;
    box-shadow: inset 0 0  10px white;
}

#search_submit_btn{
    outline: none;
    border: none;
    background-color: black;

}

.search-result {
    border-top: 1px dashed rgb(38, 6, 46);
    border-bottom: 1px dashed rgb(38, 6, 46);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 15px 0px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    /* for scroll bar part */
    max-height: 140px;
    overflow-y:  scroll; 

}

.search-result a{
    /* border: 1px solid palevioletred; */
    border-radius: 20px 0 0 20px;
    /* background-color: #7569e278; */
    background: linear-gradient(to right,#e2696978,transparent);
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 5px;

}

/* ------------------------------- chat fields users : ------------------------------------ */

#users_to_chat{
    /* display: none; */
    border: 0.5px solid rgb(38, 6, 46);
    /* border-bottom: 1px dashed rgb(38, 6, 46); */
    border-radius: 10px;
    padding: 10px 15px;
    margin: 15px 0px;

    
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    /* for scroll bar part */
    max-height: 140px;
    overflow-y:  scroll; 
}

#users_to_chat a{
    border-radius: 20px 0 0 20px;
    background: linear-gradient(to right,#91e26978,transparent);
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 5px;

}


