

.follow-following-div,.edit-profile,#profile_pic_div,.other-info{
    border: 2px solid brown;
    padding: 10px;
    margin: 5px;
}

#profile_pic_div img{
    border-radius: 50%;
}

.info{
    border: 2px solid green;
    padding: 10px;
    margin: 5px;
}

input[type="file"] {
    border: 2px solid brown;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

