<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Page{% endblock %}</title>

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'image/chat_app.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% block head %}
        
    {% endblock %}
    <audio id="click-sound" src="{% static 'audios/click.mp3' %}" preload="auto"></audio>
</head>

{% if user.userprofile.dark_mode %}
    <body class="black">
{% else %}
    <body class="white">
{% endif %}

<!-------------------- :: Notifymessage message :: ------------------->

{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="notifymessage error_msg" id="error_msg"> 
            <i class="fa fa-times" id="cross_mark"></i>
            <p>{{ message }}</p>
        </div> 
    {% else %}
        <div class="notifymessage success_msg" id="success_msg"> 
            <i class="fa fa-times" id="cross_mark"></i>
            <p>{{ message }} <i class="fa-solid fa-check"></i></p>
        </div>    
    {% endif %}
{% endfor %}
{% endif %}

    <!-- ------------------------------------------------ -->
    {% if user.is_authenticated %}
        <span id="dark_light" onclick="playAudioBulb()"><i class="fa-solid fa-moon"></i></span>
    {% endif %}
   <!-- ------------------------------------------------ -->

    <aside>
        <!---------- logo -------------------->

        {% load static %}
        <div id="ChatAt_logo" >
            <a href="{% url 'public' %}" ><img src="{% static '/image/chatat.png' %}"></a>
        </div>

        <!-------- seaarch users div ---------->
        
        {% if user.is_authenticated %}
            <div class="search-div">

                <form class="searchBox" action="{% url 'search_users' %}" method="POST">
                    {% csrf_token %}
                    <input class="searchInput" type="text"  name="query" placeholder="Search Users.." autocomplete="off" required >
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>


                {% if search_results %}
                    <div class="search-result">
                        {% for user in search_results %} 
                            <a href="{% url 'profile' pk=user.username %}">
                                <img src="{{ user.userprofile.profile_picture.url }}" alt="" style="width: 30px; height: 30px; border-radius: 20px;">
                                <span>@{{user.username }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <!---------- nav bar for all  ------->
        
        <nav>
            {% if user.is_authenticated %}
                <ul class="nav_list">

                    {% if active_public %}
                        <a href="{% url 'public' %}"><li class="active_nav_list"><i class="fa-solid fa-house-chimney"></i> <p>Public Page</p></li></a>
                    {% else %}
                        <a href="{% url 'public' %}"><li><i class="fa-solid fa-house-chimney"></i> <p>Public Page</p></li></a>
                    {% endif %}


                    {% if active_profile %}
                        <a href="{% url 'profile' pk=user %}"><li class="active_nav_list"><i class="fa-solid fa-user"></i> <p>Your Profile</p></li></a>
                    {% else %}
                        <a href="{% url 'profile' pk=user %}"><li><i class="fa-solid fa-user"></i> <p>Your Profile</p></li></a>
                    {% endif %}


                    {% if active_setting %}
                        <a href="{% url 'settings' %}"><li class="active_nav_list"><i class="fa-solid fa-gears"></i> <p>Settings</p></li></a>
                    {% else %}
                        <a href="{% url 'settings' %}"><li><i class="fa-solid fa-gears"></i> <p>Settings</p></li></a>
                    {% endif %}


                    {% if active_solo_chat %}
                        <a href="{% url 'chat' current_user_id=user.id friend_user_id=user.id %}"><li class="active_nav_list"><i class="fa-regular fa-comments"></i> <p>Solo-Chat</p></li></a>
                        
                    {% else %}
                        <a href="{% url 'chat' current_user_id=user.id friend_user_id=user.id %}"><li><i class="fa-regular fa-comments"></i> <p>Solo-Chat</p></li></a>
                    {% endif %}

                    {% if active_duo_chat %}
                        <a><li id="chat_btn" class="active_nav_list"><i class="fa-solid fa-comments"></i> <p>Duo-Chat</p></li></a>
                    {% else %}
                        <a><li id="chat_btn"><i class="fa-solid fa-comments"></i> <p>Duo-Chat</p></li></a>
                    {% endif %}
                    
    
                    <!-- mutual friend for duo chat -->
                    {% if mutual_following_profiles %}  
                    <div id="users_to_chat" >
                        {% for mutual_flr in mutual_following_profiles %}
                        <a href="{% url 'chat' current_user_id=user.id friend_user_id=mutual_flr.id %}">
                            <img src="{{ mutual_flr.profile_picture.url }}" alt="" style="width: 25px; height: 25px; border-radius: 50%;">
                            <span>@{{mutual_flr.user.username}}</span>
                            <!-- <i class="fa-regular fa-comment" style="color: green; font-size: 0.9em;"></i> -->
                            {% if mutual_flr.user.userprofile.is_active %}
                                <p id="active_status"></p>
                            {% endif %}
                        </a>    
                        {% endfor %}
                    </div>
                    {% endif %}
        
                </ul>
                <a href="{% url 'logout' %}" id="logout_btn"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            {% endif %}
        </nav> 
        <!-- --------------- -->
    </aside>
    <!-- ------------------------------------------------ -->
    <main>
        {% block content %}{% endblock %}
    </main>

{% if not group_name %}
        <script>

        var ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/wsc/'
        );

         // when connection happens this function get called 
         ws.onopen = function(){
            console.log('Websocket connection open from Base page ...')
        }

        // this gets called when client receives message from server
        ws.onmessage = function(event){
            console.log('Message received form server ...',event.data)
            const data = JSON.parse(event.data);
            
            if(data.is_dark){
                console.log('Dark mode is ...:::',data.is_dark)
            }
        }

        // this get callled when the connection get lost
        ws.onclosed = function(){
            console.log('Websocket connection closed ...')
        }

        // dark_light mode:  sun_moon :------------------------------

        const dark_light = document.getElementById('dark_light');
        let body = document.querySelector("body");
        let sun_moon_icon = document.querySelector("#dark_light>i");
        dark_light.addEventListener('click',()=>{
            if (body.className == "black") {
                ws.send(JSON.stringify({'is_dark':false}));
                body.className = "white";
                dark_light.innerHTML='<i class="fa-solid fa-moon"></i>';
                sun_moon_icon.style.transform = 'scale(1.2)';
            } else if (body.className == "white") {
                ws.send(JSON.stringify({'is_dark':true}));
                body.className = "black";
                sun_moon_icon.style.transform = 'scale(1.2)';
                dark_light.innerHTML='<i class="fa-solid fa-sun"></i>';
            }
            // ws.send(JSON.stringify({'is_dark':true}));
        });

    </script>
    
{% endif %}


    <script src="{% static 'js/base.js' %}"></script>

</body>

</html>