<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Page{% endblock %}</title>

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'image/chat_app.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% block head %}
        
    {% endblock %}
    <audio id="click-sound" src="{% static 'audios/click.mp3' %}" preload="auto"></audio>
</head>
<body class="white">
    {% include "nav_bar.html" %}
    
    {% if user.is_authenticated %}
        <span id="light_bulb" onclick="playAudioBulb()"><i class="fa-solid fa-lightbulb"></i></span>
    {% endif %}
   
    <br>
    <div id="notify_msg">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <span style="color:red;">{{ message }}</span>
                {% else %}
                    <span style="color:green;">{{ message }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>