{% extends "base.html" %}

{% block title %}Chat - ChatAt{% endblock %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chat_room.css' %}"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block content %}

{% if current_user == friend_user %}
<h1> Chat Page - SoloChat </h1>         
{% else %}
<h1> Chat Page - DuoChat </h1>     
{% endif %}

<div class="chat-box">
    <div id="left_box">
        <div class="left_top">
            <img src="{{ user_profile.profile_picture.url }}" alt="" style="width: 40px; height: 40px ; border-radius: 50%; ">
            <input type="text" name="" id="" placeholder="Search ... ">
        </div>
        <div id="all_users">
            <!-- always showing current user on top (solo-chat)-->
            {% if friend_user_profile.user == user %}
                <a href="{% url 'chat' current_user_id=user.id friend_user_id=user.id %}" class="now_chat">
                    <span class="chat_user_online"><img src="{{ user.userprofile.profile_picture.url }}" alt=""></span>
                    <span>{{user.first_name|title}} {{user.last_name|title}}</span>
                </a>
            {% else %}
                <a href="{% url 'chat' current_user_id=user.id friend_user_id=user.id %}">
                    <span class="chat_user_online"><img src="{{ user.userprofile.profile_picture.url }}" alt=""></span>
                    <span>{{user.first_name|title}} {{user.last_name|title}}</span>
                </a>
            {% endif %}
            
            {% for mutual_flr in mutual_following_profiles %}

                {% if friend_user_profile.user == mutual_flr.user %}
                    <a href="{% url 'chat' current_user_id=user.id friend_user_id=mutual_flr.id %}" class="now_chat">
                        {% if mutual_flr.user.userprofile.is_online %}
                            <span class="chat_user_online"><img src="{{ mutual_flr.profile_picture.url }}" alt=""></span>
                        {% else %}
                            <span class="chat_user_offline"><img src="{{ mutual_flr.profile_picture.url }}" alt=""></span>
                        {% endif %}

                        <span>{{mutual_flr.user.first_name|title}} {{mutual_flr.user.last_name|title}}</span>
                    </a>    
                {% else %}
                    <a href="{% url 'chat' current_user_id=user.id friend_user_id=mutual_flr.id %}">
                        {% if mutual_flr.user.userprofile.is_online %}
                            <span class="chat_user_online"><img src="{{ mutual_flr.profile_picture.url }}" alt=""></span>
                        {% else %}
                            <span class="chat_user_offline"><img src="{{ mutual_flr.profile_picture.url }}" alt=""></span>
                        {% endif %}

                        <span>{{mutual_flr.user.first_name|title}} {{mutual_flr.user.last_name|title}}</span>
                    </a>    
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
    <div id="right_box">
        <div class="friend_user_top_box">
            <div>
                <a href="{% url 'profile' pk=friend_user_profile.user %}">
                    <img src="{{ friend_user_profile.profile_picture.url }}" alt="" style="width: 40px; height: 40px; border-radius: 50%;">
                </a>
                <h2>{{friend_user_profile.user.username|title}}</h2>
            </div>

            <span>
                <i class="fa-solid fa-video"></i>
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </span>
        </div>
        <div id="message-list-box">

            {% for chat_message in chat_messages %}
                <div class="{% if chat_message.sender == user_profile.user %}sent{% else %}received{% endif %}">
                    <!-- if the current user is the sender then -->
                    {% if chat_message.sender == user_profile.user %} 
                        <p>{{ chat_message.message }}</p>
                        <span><img src="{{ user_profile.profile_picture.url }}" alt="" ></span>
                    {% else %}
                        <!-- <span><strong>{{chat_message.sender.username|title}}</strong> : {{ chat_message.message }}</span> -->
                        <span><img src="{{ friend_user_profile.profile_picture.url }}" alt="" ></span>
                        <p>{{ chat_message.message }}</p>
                        <!-- <span><img src="{{ chat_message.sender.userprofile.profile_picture.url }}" alt="" style="width: 20px; height: 20px ; border-radius: 50%; ">  <p>{{ chat_message.message }}</p></span> -->
                    {% endif %}
                    
                    <!-- <span>{{ message.timestamp }}</span> -->
                </div>
            {% endfor %}  
        </div>
        <div id="message_input_box">
            <form>
                <i class="fa-solid fa-microphone-lines"></i>
                <input type="text" id="chat-message-input" name="message" autofocus autocomplete="off">
                <!-- <input type="button" id="submit" value="Send"> -->
                <button type="button" id="submit">Send</button>
                <i class="fa-solid fa-circle-plus"></i>
                <!-- <span>
                    <i class="fa-solid fa-photo-film"></i>
                    <i class="fa-solid fa-paperclip"></i>
                </span> -->
            </form>
        </div>
    </div>
</div>

{{group_name|json_script:"group_name"}}
<input type="hidden" name="" id="current_user" value="{{current_user}}">


<script>
    // getting the string , changing to object, passing it to a variabel
    const groupName = JSON.parse(document.getElementById('group_name').textContent)
    console.log(groupName)

    var ws = new WebSocket(
            'ws://'
            + window.location.host // 127.0.0.1:8000
            + '/ws/wsc/'
            + groupName
            + '/'
        )
    
        //  whan connection happens this function get called 
        ws.onopen = function(){
            console.log('Websocket connection open ...')
        }

        // this gets called when client receives message form server
        ws.onmessage = function(event){
            scrollToBottom();
            console.log('Message received form server ...',event.data)

            const data = JSON.parse(event.data);
            const finalMsg = data.message;
            const sender = data.sender_username;

            // Appending the finalMsg from the server to the HTML
            const messageListBox = document.getElementById('message-list-box');
            // strong>${sender}</strong> : ${finalMsg}
            const current_user = document.getElementById('current_user').value
            console.log(current_user);

            if (current_user == sender){
                messageListBox.innerHTML += `
                    <div class="sent">
                        <p>${finalMsg}</p><span> <img src="{{ user_profile.profile_picture.url }}" alt="" ></span>
                    </div>
                `;
            }else{
                messageListBox.innerHTML += `
                    <div class="received">
                        <span><img src="{{ friend_user_profile.profile_picture.url }}" alt="" > </span><p>${finalMsg}</p>
                    </div>
                `;
            }
        }

        
        // this get callled when the connection get lost
        ws.onclosed = function(){
            console.log('Websocket connection closed ...')
        }

        document.getElementById('submit').addEventListener('click',(event)=>{
            scrollToBottom();
            const inputBox =document.getElementById('chat-message-input')
            const message = inputBox.value.trim(); // trim() removes leading and trailing white spaces
            if (message !== '') { // Check if the message is not empty
                ws.send(JSON.stringify({'msg': message}));
                inputBox.value = ''; // making the input field empty after the message is sent
            } else {
                event.preventDefault(); // it is just like the pass in PYTHON
                // Optionally, we can provide feedback to the user that the message is empty
                // alert('Please enter a message.');
            }
        })

</script>
<script src="{% static 'js/chat.js' %}"></script>

{% endblock %}