<nav>
    <!-- {% load static %}
    <li><a href="{% url 'public' %}" id="ChatAt_logo"><img src="{% static '/image/chatat2.png' %}"></a></li> -->
    <ul>
        {% if user.is_authenticated %}
            {% load static %}
            <!-- <li><a href="{% url 'public' %}" id="ChatAt_logo"><img src="{% static '/image/chatat2.png' %}"></a></li> -->
        
            <li><b><a href="{% url 'public' %}">LOGO</a></b></li>
            <li><a href="{% url 'public' %}">Public Page</a></li>
            <li><a href="{% url 'profile' pk=user %}">Your Profile</a></li>
            <li><a href="{% url 'chat' %}">Chat Now</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li onclick="confirm_box2()">Change Password</li>
            <li onclick="confirm_box()">Delete Account</li><br>
            

            <!-- password change box -->
            <div id="password_change_box">
                <h3>Modify Your Password</h3>
                <form action="{% url 'change_password' %}" method="POST">
                    {% csrf_token %}
                    <input type='password' name="old_password" autocomplete="off" placeholder="old_password"><br><br>
                    <input type='password' name="new_password1" autocomplete="off" placeholder="new password"><br><br>
                    <input type='password' name="new_password2" autocomplete="off" placeholder="confirm password"><br><br>
                    <button type='submit'>Submit</button>
                </form>
            </div>

            <!-- Account delete box -->
            <div id='acc_delete_box'>
                <h3>Please enter your password to confirm the deletion of your account.</h3>
                <form action="{% url 'delete_account' %}" method="POST">
                    {% csrf_token %}
                    <input type='password' name="confirm_pass" autocomplete="off">
                    <button type='submit'>Submit</button>
                </form>
            </div>

        {% else %}
            <li><b><a href="{% url 'home' %}">LOGO</a></b></li>
            <li><a href="{% url 'home' %}">Home</a></li> 
        {% endif %}
    </ul>
</nav>