{% extends "base.html" %}

{% block title %}Public Page{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/public.css' %}"> 
{% endblock %}

{% block content %}
<!-- stopping the scrolling btn -->
<a href="#" id="stop"></a>
    <!-- <span>Current Time : {{current_time}}</span><br>
    <span>Today's Date : {{today_date}}</span> -->
    <h1>
        {% if greeting %}
            {{greeting}} 
        {% else %} 
        Hello 
        {% endif %} 
            {{user.username|title}}!
    </h1>
    <img class="current_user_img" src="{{ user_profile.profile_picture.url }}" alt="" style="width: 50px; height: 50px">
    
    <h2>Public Page</h2>
    
    
    <div class="addpost-box">
        <div>
            <h2>Add a post :</h2>
            <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <label for="file">Upload Image : </label>
                    <input type="file" id="file" name="post_img" >
                    <br><br>
                    <label for="post_caption">Add Status : </label>
                    <textarea name="post_caption" id="post_caption" cols="40" rows="2" placeholder="Write Your Captions Here..."></textarea>
                    <br><br>
                    <button type='submit'>POST</button>
            </form>
         </div>
        
    </div>

     <!-- seaarch users div -->
     <div class="search-div">
        <h2>Search Users : </h2>
        <form action="{% url 'search_users' %}" method="GET">
            <input type="text" name="query" placeholder="Search by username.." autocomplete="off">
            <button type="submit">Search</button>
        </form>
        
        <div>
            {% if search_results %}
            <h2>Search Results</h2>
                {% for user in search_results %}
                    <div class="search-result">
                        <img src="{{ user.userprofile.profile_picture.url }}" alt="" style="width: 40px; height: 40px; border-radius: 20px;">
                        <span>@{{user.username }}</span>
                        <a href="{% url 'profile' pk=user.username %}">View Profile </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- user suggestions div -->
    <div class="user-suggestion">
        <h3>People you May know : </h3>
        <div>
            
            {% for sug_user in suggested_users %}
                <div>
                    <img src="{{ sug_user.userprofile.profile_picture.url }}" alt="" style="width: 40px; height: 40px; border-radius: 20px;">
                    <span>@{{sug_user.username }}</span>
                    <a href="{% url 'profile' pk=sug_user.username %}">View Profile </a>
                </div>
            {% endfor %}
        </div>
    </div>

    

    <!-- all feeds of the following users -->
    <div class="post_box">
       
            {% for post in posts reversed %}  <!-- making the latest post on the top  -->
                <div class="single_post">

                    <div>
                        <div class="profile_img_del-div">
                            <a href="{% url 'profile' pk=post.user %}">
                                <img src="{{ post.user.userprofile.profile_picture.url }}" alt="" style="width: 35px; height: 35px; border-radius: 50%;">
                                <span >@{{ post.user.username }}</span>
                            </a>
                            {% if post.user == user_profile.user %}
                                <a href="/delete_post?post_id={{post.id}} ">Delete</a>
                            {% endif %}
                            
                        </div>

                        <p>Posted at : <span>{{ post.created_at }}</span></p>
                    </div>
                    <div class="image-post-div">
                        <img src="{{ post.image.url }}" alt="" >
                        <br>
                        <div style="border: 1px solid green; width: 98%;">{{ post.caption }}</div>
                    </div>
                    <div>
                        <li>{{post.no_of_likes}} <a href="/like_post?post_id={{post.id}} ">Like</a></li> 
                        <li id="cmt_btn">0 Comment</li>
                        <a href="{{ post.image.url }}" download ><li>Save</li></a>
                    </div>
                    <div id="cmt_box">
                        <form action="{% url 'comment' usr=post.user %}" method="POST">
                            {% csrf_token %}
                            <label for=""><img src="{{ user_profile.profile_picture.url }}" alt="" style="width: 20px; height: 20px; border-radius: 50%;"></label>
                            <input type="text" name="cmt_content" placeholder="Write your comments...">
                            <button>post</button>
                        </form>
                        <ul>
                            {% for comment in comments %}
                                <!-- {% if comment.user == post.user %} -->
                                <li>
                                    <p>{{ comment.content }}</p>
                                    <p>By: {{ comment.user.username }},</p>
                                    <p>At: {{ comment.commented_at }}</p>
                                    
                                </li>
                                <!-- {% endif %} -->
                                
                            {% endfor %}
                        </ul>
                    </div>
                    
                </div>
            {% endfor %}
        
    </div>
    <div id="scrlUpBOx" style="cursor: pointer;">
        <span id="goTop"><i class="fa-solid fa-arrow-turn-up"></i>Go Up</span>
    </div>
    <!-- scrolling up btn  -->
    <script src="{% static 'js/public.js' %}"></script>
    
{% endblock %}