{% extends "base.html" %}

{% block title %}Public Page{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/public.css' %}"> 
    <!-- love sound : -->
    <audio id="love-sound" src="{% static 'audios/love.mp3' %}" preload="auto"></audio>

{% endblock %}

{% block content %}
    <!-- stopping the scrolling btn -->
    <a href="#" id="stop"></a>
    
    <h1 id="greatings">
        {% if greeting %}
            {{greeting}} 
        {% else %} 
            Hello 
        {% endif %} 
            {{user.username|title}}!
    </h1>

    <!-- addpost container -->
    <div class="addpost-box">
            <div class="container" >
                <button onclick="defaultBtnActive()" id="custom-btn" >Choose a Photo to  Make Post</button>
                <div class="wrapper">
                    <div class="image">
                        <img id="upload_img" src=" " alt="">
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fa-solid fa-cloud-upload-alt"></i></div>
                        <div class="text">No file chosen, yet!</div>
                    </div>
                    <div id="cancel-btn"><i class="fa fa-times"></i></div>
                    <div class="file-name"></div>
                </div>

                
                <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data" id="add_post_form">
                    {% csrf_token %}
                    <input type="file" id="default-btn" name="post_img"  accept="image/*,video/*" hidden >
                    <textarea name="post_caption" id="post_caption" cols="50" rows="2" placeholder="Write Your Captions Here..."></textarea>
                    <button type='submit'>POST</button>
                </form>
            </div>

            <!-- followers_without_following_back_profiles -->

            {% if followers_without_following_back_profiles %}
            <div class="only_they_follow_box">
                <h2>Users who follow you : </h2>
                    {% for my_only_follower in followers_without_following_back_profiles %}
                        <div class="only_follow_div">
                            <div>
                                <img src="{{ my_only_follower.user.userprofile.profile_picture.url }}" alt="" style="width: 30px; height: 30px; border-radius: 20px;">
                                <span>@{{my_only_follower.user.username }}</span>
                            </div>
                            <a href="{% url 'profile' pk=my_only_follower.user.username %}">Follow Back</a>
                        </div>
                    {% endfor %}
            </div>
            {% endif %}


            <!-- user suggestions div -->
            <div class="user-suggestion-box">
                <h2>People you might know : </h2>
                    
                    {% for sug_user in suggested_users %}
                        <div class="user_sug_div">
                            <div>
                                <img src="{{ sug_user.userprofile.profile_picture.url }}" alt="" style="width: 30px; height: 30px; border-radius: 20px;">
                                <span>@{{sug_user.username }}</span>
                            </div>
                            <a href="{% url 'profile' pk=sug_user.username %}">View Profile </a>
                        </div>
                    {% endfor %}
            </div>
    </div>


    <!---------------------:: all feeds of the following users  ::----------------------------->
    <div class="post_box_container">
            {% for post in posts %}  <!-- making the latest post on the top  -->
                <div class="single_post">
                    <div class="profile_img_div">
                        <a href="{% url 'profile' pk=post.user %}">
                            <img src="{{ post.user.userprofile.profile_picture.url }}" alt="top-img" >
                            <div>
                                <span >@{{ post.user.username }}</span>
                                <p><span data-posted-at="{{ post.created_at|date:'Y-m-d\TH:i:s' }}">{{ post.created_at }}</span></p>
                            </div>
                        </a>
                    </div>
                        <!-- <p><span data-posted-at="{{ post.created_at|date:'Y-m-d\TH:i:s' }}">{{ post.created_at }}</span></p> -->
                    <!------------- image section of post ------------->
                    <div class="image-post-div">
                        <img src="{{ post.image.url }}" alt="" >
                        {% if post.caption != 'No Caption' %}
                            <div class="post_caption"><strong>{{ post.user.username}}</strong> {{ post.caption }}</div>
                        {% endif %}
                    </div>

                    <!-- like, comments, download -->
                    <div class="like_cmt_share_box">
                        <!-- like section of post -->
                         <!-- <p onclick="playAudio()">LIKE</p> -->
                        <!-- <button onclick="likePost(post.id)">like</button> -->

                        <!-- {{post.no_of_likes}}  -->
                        <div id="like_cmt_only"><span id="post-{{post.id}}" >{{post.no_of_likes}}</span>
                                <!-- {% if post.user_has_liked %}
                                    <a href="/like_post?post_id={{ post.id }}"><i class="fa-solid fa-heart" style="color: red;"></i></a>
                                   
                                {% else %}
                                    <a href="/like_post?post_id={{ post.id }}"><i class="fa-regular fa-heart"></i></a>
                                {% endif %} -->
                                <i class="fa-regular fa-heart heart_icon" id="heart-{{post.id}}" onclick="playAudio()"></i>
                                <input class="post_id_value" type="hidden" value="{{post.id}}">

                                <div id="cmt_btn">{{post.no_of_comments}} <i class="fa-regular fa-comment"></i></div>
                        </div> 
                        <div id="save_btn">
                            <a href="{{ post.image.url }}" download >Save <i class="fa-solid fa-download"></i></a>
                        </div>
                    </div>

                    <!------------- comment section of post ------------>

                    <div id="cmt_box">
                        <form action="{% url 'comment' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="po_usr" value="{{ post.user}}">  <!-- user id of the user whose the post is  -->
                            <input type="hidden" name="po_id" value="{{ post.id }}">    <!-- post id -->

                            <img src="{{ user_profile.profile_picture.url }}" alt="img">
                            <input type="text" name="cmt_content" placeholder="Write your comments..." autocomplete="off">
                            <button class="comment_post_btn">Post</button>
                        </form>

                        <ul class="all_comments_list">
                            {% for comment in comments %}
                                {% if comment.post_id == post.id %}
                                    <li class="cmt_li">
                                        <span>
                                            <img src="{{ comment.user.userprofile.profile_picture.url }}" alt="Profile Picture" >
                                            <p><strong>@{{ comment.user.username }}</strong> <i class="fa-solid fa-arrow-right"></i> {{ comment.content }}</p>
                                            <!-- <strong>@{{ comment.user.username }}</strong>  -->
                                            <p id="date_posted"> {{ comment.commented_at }} </p>
                                        </span>
                                        <!-- delete comment part  -->
                                        <form action="{% url 'delete_comment' comment.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete your comment ?');">
                                            {% csrf_token %}
                                            {% if comment.user == user_profile.user %}  <!-- if the coment user_id and current user user_id same then only delete button is seen -->
                                                <button  type="submit" ><i class="fas fa-times"></i></button>
                                            {% endif %}
                                        </form>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        
                    </div>
                    
                </div>
                
            {% endfor %}
    </div>
    <!-- scrolling up btn  -->
    <div id="scrlUpBOx" style="cursor: pointer;">
        <span id="goTop"> <i class="fa-solid fa-rocket"></i> Go Up</span>
    </div>

    <script>

        var ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/wsc/'
        );


         //  whan connection happens this function get called 
         ws.onopen = function(){
            console.log('Websocket connection open form public page...')
            // var message = 'hello'
            // ws.send(JSON.stringify({'msg': message}));
        }

        // this gets called when client receives message form server
        ws.onmessage = function(event){
            console.log('Message received form server ...',event.data)

            const data = JSON.parse(event.data);
            const no_of_likes = data.no_of_likes;
            console.log('Post no of likes ...:::',no_of_likes)

            if (data.no_of_likes !== undefined) {
            const postId = data.post_id; // Assuming the server also sends the post ID along with the like count
            // Find the like count element corresponding to the post ID
            const likeCountElement = document.getElementById(`post-${postId}`);
            if (likeCountElement) {
                likeCountElement.innerHTML = no_of_likes;
            }
            }
            
        }

        
        // this get callled when the connection get lost
        ws.onclosed = function(){
            console.log('Websocket connection closed ...')
        }

        // document.getElementById('heart_icon').addEventListener('click',(event)=>{
        //     const post_id = document.getElementById('post_id_value').value
        //     ws.send(JSON.stringify({'po_id': post_id}));
        // })

        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('heart_icon')) {
                // Find the parent element of the clicked heart icon
                var parentDiv = event.target.closest('#like_cmt_only');
                if (parentDiv) {
                    // Find the hidden input field within the parent element
                    var postIdInput = parentDiv.querySelector('.post_id_value').value ;

                    ws.send(JSON.stringify({'po_id': postIdInput}));

                    // Apply animation to the heart icon
                    const heartIcon = event.target;
                    heartIcon.style.transform = 'scale(1.2)';
                    setTimeout(function () {
                        heartIcon.style.transform = 'scale(1)';
                    }, 200);

                }
            }
        });

        




    </script>
    
    <script src="{% static 'js/public.js' %}"></script>
    
{% endblock %}