{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block head %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"> 
{% endblock %}

{% block content %}
<h1>Hello {{user.username|title}}, This is your Account Setting page </h1>
<h2>Edit Your profile : @{{user.username}}</h2>
<div class="big-container">
    <div class="edit-profile">
        <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            
            <div>
                <a href="{{ user_profile.profile_picture.url }}">
                    <img src="{{ user_profile.profile_picture.url }}" alt="" style="width: 100px; height: 100px">
                </a>
            </div>
            
            <label for="file" >Upload Profile Picture : </label>
            <input type="file" id="file" name="new_profile_pic" >
            
            
            <br><br>

            <label for="new_bio" >Bio : </label>
            <textarea name="new_bio" id="" cols="45" rows="3">{{user_profile.bio}}</textarea>

            <br><br>

            <label for="phone_no">Contact no : </label>
            <input type='tel' name="new_phone_no" autocomplete="off" maxlength="15" value=" {{user_profile.phone}}">

            <br><br>

            <button type='submit'>Save Changes</button>
        </form>
    </div>

    <ul>
        <li onclick="confirm_box2()"><i class="fa-solid fa-key"></i> Change Password</li>
        <li onclick="confirm_box()"><i class="fa-solid fa-user-xmark"></i> Delete Account</li>
    </ul>


    <!-- password change box -->
    <div id="password_change_box">
        <h3>Modify Your Password</h3>
        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <input type='password' name="old_password" autocomplete="off" placeholder="old_password"><br><br>
            <input type='password' name="new_password1" autocomplete="off" placeholder="new password"><br><br>
            <input type='password' name="new_password2" autocomplete="off" placeholder="confirm password"><br><br>
            <button type='submit'>Submit</button>
        </form>
    </div>

    <!-- Account delete box -->
    <div id='acc_delete_box'>
        <h3>Please enter your password to confirm the deletion of your account.</h3>
        <form action="{% url 'delete_account' %}" method="POST">
            {% csrf_token %}
            <input type='password' name="confirm_pass" autocomplete="off">
            <button type='submit'>Submit</button>
        </form>
    </div>
</div>

<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}