{% extends "base.html" %}

{% block title %}Signup Page{% endblock %}

{% block content %}
<h1>Signup</h1>
<form  action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" required autocomplete="off">
    <br><br>
    <label for="email">Email:</label>
    <input type="email" name="email" required autocomplete="off">
    <br><br>
    <label for="password1">Password:</label>
    <input type="password" name="password1" required autocomplete="off">
    <br><br>
    <label for="password2">Confirm Password:</label>
    <input type="password" name="password2" required autocomplete="off">
    <br><br>
    <button type="submit">Sign Up</button><br><br>
    <p>Already have an Account ? <a href="{% url 'login' %}">Login</a></p>
    
    {% comment %} 

    {% for field in form  %}
        <label>{{field.label}} : </label>
        {{field}}
        
        <br>
        <br>
    {% endfor %}
        <button type="submit">Sign Up</button><br><br>
        <p>Already have an Account ? <a href="{% url 'login' %}">Login</a></p> 
    {% endcomment %}

</form>

{% comment %} 
    {% for error in fleld %}
        <p style="color :red">{{error}}</p>
    {% endfor %} 
{% endcomment %}

{% endblock %}